body {
    font-family: 'Inter', sans-serif;
    padding: 0 4rem 4rem 4rem;
    overflow:scroll;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 4rem;
    height: 8rem;
}

.logo {
    margin-left: 2rem;
}
.top-nav{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 12%;
    color: #EC6C04;
    align-items: center;
    margin-right: 2rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin-top: 4rem;
    padding-left: 2rem;
    padding-bottom: -1rem;;
    height: 15rem;
    background-color:#EDEDED;
    font-size: 1.3rem;
    border: 2px;
    border-radius: 1rem;
    padding-top: 2rem;
    
}

.pot-image {
    position: absolute;
    top: 20rem;
    right: 4rem;
    width: 10rem;
    height: 13rem;
}

.girl-image {
    position: absolute;
    top: 9rem;
    right: 12rem;
    height: 25rem;
}

p.greet {
    font-weight: 700;
    color: #EC6C04;
}

.type-about {
    color: #EC6C04;
}

.myInfo > span{
    display: inline-block;
    height: 1.5rem;
}



.type-about {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #000; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    width: 7.5rem;
    animation: 
      typing 1s steps(10, end),
      blink-caret .5s step-end infinite;
    color: #EC6C04;
    margin-bottom: -6px;}

.top-nav li a{
    text-decoration: none;
    color: inherit;
}

.top-nav li {
    transition: all 200ms ease-in;
}
.top-nav li:hover{
    transform: scale(1.2);
    font-weight: 500;
}

.top-nav li.active {
   text-decoration: underline;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 7.5rem }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#000 }
  }

  @media (max-width: 600px) {
    body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .logo {
        margin-left: 0.5rem;
    }
    .logo > img {
        height: 7rem;
    }
    .top-nav {
        width: 35%;
        margin-right: 0.5rem;
        font-size: 1.3rem;
    }
  }


