body {
    font-family: 'Nunito', sans-serif;
    padding: 0 4rem 4rem 4rem;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 2rem;
    height: 8rem;
}

.logo {
    margin-left: 2rem;
}
.top-nav{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 12%;
    color: #B45F06;
    align-items: center;
    margin-right: 2rem;
}

.top-nav li a{
    text-decoration: none;
    color: inherit;
}

.top-nav li {
    transition: all 200ms ease-in;
}
.top-nav li:hover{
    transform: scale(1.2);
    font-weight: 500;
}

.top-nav li.active {
   text-decoration: underline;
}

.about-content{
    display: flex;
    justify-content: center;
}
.about-me-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    height: 600px;
    max-width: 1000px;
}

.higreet{
    font-size: xx-large;
}
.about-me{
    padding-left: 4rem;
    line-height: 1.9rem;
    font-weight: 600;
    color: #B45F06;
}

@media (max-width: 600px) {
    body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .logo {
        margin-left: 0.5rem;
    }
    .logo > img {
        height: 7rem;
    }
    .top-nav {
        width: 35%;
        margin-right: 0.5rem;
        font-size: 1.3rem;
    }
    
    .about-content{
        display: block;
    }
    .about-me-container{
        height: auto;
        flex-direction: column;
    }
    .about-me {
        margin-top: 4rem;
        padding-left: 0;
    }
  }
